@import "../base/variables"

section
  position: absolute
  height: 400px
  width: 480px
  left: 0
  right: 0
  top: 0
  bottom: 0
  vertical-align: middle
  margin: auto
  text-align: center
  background-color: $scheme-color-white
  display: table
  box-shadow: 0 8px 8px -6px black

  @media screen and (max-width: 480px)
    width: 100%

  @media screen and (max-height: 400px)
    height: 100%
    top: 0

  > div.login
    display: table-cell
    position: relative
    text-align: center
    vertical-align: middle
    width: 100%

    > form
      >div.logo
        >p
          margin-top: 0
          padding-top: 0
          font-size: 2rem
          color: $scheme-color-green
          font-family: "Roboto"
      > div.input-fields
        position: relative
        text-align: center

        >input
          content: ''
          margin: 0 auto
          width: 200px
          display: block
          background-color: gainsboro
          border: none
          text-indent: 5%
          height: 2rem
          margin-bottom: 0.5rem

      > div.buttons
        position: relative
        text-align: center

        >button
          font-family: "Roboto"
          color: $scheme-color-white
          background-color: $scheme-color-green
          display: inline-block
          cursor: pointer
          padding: 0.5rem 0 0.5rem 0
          border: none
          margin-bottom: 0.5rem
          width: 200px

      >div.texts

        >p
          font-family: "Roboto"
          padding: 0
          margin: 0

          >span:nth-child(1)
            font-size: 0.75rem
            color: gray

          >span:nth-child(2)
            cursor: pointer
            font-size: 0.75rem
            color: $scheme-color-green

          >span:nth-child(4)
            font-size: 0.75rem
            color: gray

      >div.social
        margin-top: 1rem

        >button
          color: $scheme-color-white
          background-color: #3B5998
          display: inline-block
          cursor: pointer
          padding: 0.5rem 0 0.5rem 0
          border: none
          margin-bottom: 0.5rem
          width: 200px
