<section class="navigation">
    <div class="upper-nav">
        <div class="nav-button" (click)="toggleLeftMenu(true)"><a></a></div>
        <div class="search-button"><a></a></div>
    </div>
    <div class="lower-nav">
        <div><a [routerLink]="['Contacts']"></a></div>
        <div><a [routerLink]="['Conversations']"></a></div>
        <div><a [routerLink]="['Calls']"></a></div>
    </div>
</section>