.switch
  @import "variables"
  @import "animations"
  @import "../../base/variables"

  position: relative
  display: inline-block
  width: $switch-toggle-width
  height: $switch-toggle-height
  background-color: lighten(gray,40%)
  border-radius: $switch-border-radius
  cursor: pointer

  &:before
    transition: all 0.2s, background 0.2s
    content: ' '
    display: block
    position: absolute
    width: $switch-toggle-thumb-width
    height: $switch-toggle-thumb-height
    top: $switch-circle-top
    background-color: white
    border-radius: 50%
    box-shadow: $whiteframe-shadow-1dp

  &.checked
    background-color: $switch-checked-background-color

    &:before
      transform: translateX($switch-toggle-width - $switch-toggle-thumb-width)
      background-color: $switch-checked-circle-background-color


