<section>
    <div class="login">
        <form (ngSubmit)="login()" [ngFormModel]='form'>
            <div class="logo">
                <p>Copula</p>
            </div>
            <div class="input-fields">
                <input type="email" placeholder="email" ngControl="username"/>
                <input type="password" placeholder="password" ngControl="password"/>
            </div>
            <div class="buttons">
                <button type="submit">Влез</button>
            </div>
            <div class="texts">
                <p><span>
            Не си регистриран? </span><span [routerLink]="['../Register']">Създай си акаунт</span>
                    <br>
                    <span>или влез с:</span>
                </p>
            </div>

            <div class="social">
                <button type="button">Facebook</button>
            </div>
        </form>
    </div>
</section>
