.options
  @import '../base/mixins'
  @import "../base/variables"
  @import "mixins"
  @import "variables"

  display: block
  background-color: white
  height: 100%
  width: 100%

  > ul
    @include list-nostyle()
    display: block
    background-color: white
    height: 100%
    width: 100%

    > li
      //@include element-border-bottom()
      position: relative
      height: 70px
      width: 100%

      > span
        float: left
        font-family: "Roboto"
        margin-left: 5%
        line-height: 70px

      > .sound-switch
        line-height: 70px
        float: right
        margin-right: 5%

      > ul
        @include list-nostyle()
        position: absolute
        display: inline-block
        float: right
        cursor: pointer
        font-family: "Roboto"
        box-shadow: none
        border: none
        @include element-border-bottomPx(2px)
        border-color: $scheme-color-green
        background-color: white
        height: $lang-height/2
        padding-bottom: 2%
        width: $lang-width/2
        top: $lang-top/2
        right: 5%

        > span:after
          @include arrow()

        > li
          @include element-borderPx(0.5px, lighten(black,80%))
          height: 1rem
          padding-top: 0.5rem
          padding-bottom: 0.5rem
          background-color: lighten(gray, 45%)
          width: 200%
          margin-left: -80%

          &:not(:first-child)
            border-top: none

        &.hiddenList
          top: $lang-top
          > li
            display: none

      > a

        &.back
          @include image('assets/img/back-black.svg')
          position: relative
          float: left
          height: 100%
          width: 60px
          cursor: pointer

