.call
  @import "../base/mixins"
  @import "../base/variables"
  background-color: $color-black-lighter
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: auto

  > div.avatar
    position: relative
    margin: 5rem auto 2.5% auto
    text-align: center
    width: 50%

    > img
      display: block
      position: relative
      width: 100%
      border: 2px solid white

    > span
      color: white
      display: block
      margin-top: 5%
      font-size: 1.5rem

  > div.video-call
    position: relative
    width: 100%
    height: 40%
    //background-color: white
    margin-bottom: 2.5%

    > video
      position: relative
      display: block
      width: 100%

  > span
      text-align: center
      color: white
      display: block
      margin-bottom: 5%
      font-size: 1.5rem

  > div.calling
    text-align: center
    font-size: 2rem
    font-family: "Roboto"
    color: white

  > div.icons
    width: 100%
    text-align: center
    margin-top: 5%
    min-height: 10%
    height: 10%

    > a
      position: relative
      display: inline-block
      width: 17.5%
      margin: 0 5%
      padding-bottom: 17.5%
      background-size: contain
      cursor: pointer
      background-color: $color-black-lighter
      border: 1px solid #FFF
      border-radius: 50%

      &:hover, &:active
        background-color: lighten($color-black-lighter,10%)


      &.camera
        @include image('assets/img/camera-white.svg')

        &.stopped
          @include image('assets/img/camera-stopped.svg')

      &.microphone
        @include image('assets/img/microphone-white.svg')

        &.stopped
          @include image('assets/img/microphone-white-stopped.svg')

  >div.call-buttons
    height: 20%
    min-height: 10%
    text-align: center
    margin-top: 10%

    >a
      @include image('assets/img/call-white.svg')
      display: inline-block
      position: relative
      background-size: contain
      color: $scheme-color-white
      background-color: red
      cursor: pointer
      border-radius: 50%
      width: 25%
      padding-bottom: 25%

      &:hover, &:active
        background-color: darken(red,10%)










