@mixin leftMenuAnimation()
  transform: translate3d(0, 0, 0)
  -webkit-transition: -webkit-transform cubic-bezier(0, 0.34, 0, 1.06) .2s
  -moz-transition: -moz-transform cubic-bezier(0, 0.34, 0, 1.06) .2s
  -o-transition: -o-transform cubic-bezier(0, 0.34, 0, 1.06) .2s
  transition: transform cubic-bezier(0, 0.34, 0, 1.06) .2s
  animation-duration: 0.3s