.overlay
  @import "../base/mixins"
  @include overlay()

.left-menu
  @import "../base/mixins"
  @import "../base/variables"
  @import "animations"
  @include leftMenuAnimation()

  position: absolute
  height: 100%
  width: 300px
  top: 0
  z-index: 3000
  margin-left: -300px
  overflow: auto
  background-color: $main-color

  &.opened
    transform: translateX(300px)

  > div
    position: relative
    margin: 0
    padding: 0
    height: 160px
    width: 100%
    overflow: hidden

    > div
      position: absolute
      z-index: 1000
      height: 100%
      width: 100%
      text-align: center

      > div
        margin: 10px auto
        height: 80px
        width: 80px
        border: 2px solid white
        cursor: pointer

        > img
          height: 100%
          width: 100%

      > span
        color: white
        //text-shadow: 0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000

        &.name
          font-size: 1.1rem

    > img
      @include blur(4px)
      height: auto
      width: 100%

  > section
    > ul
      @include list-nostyle()
      margin: 0
      padding: 0
      background-color: white

      > li
        @include element-border-bottom()
        position: relative
        height: 70px
        width: 100%
        cursor: pointer

        > a.icon
          display: inline-block
          float: left
          margin-left: 15px
          background-size: cover
          margin-top: 15px
          height: 40px
          width: 30px

          &.profile
            @include image('assets/img/profile-male-silver.svg')

          &.search
            @include image('assets/img/search-silver.svg')
            height: 30px
            width: 25px
            margin-top: 20px

          &.options
            @include image('assets/img/options-silver1.svg')
            height: 35px
            margin-top: 17.5px

          &.logout
            @include image('assets/img/logout-silver.svg')
            height: 30px
            width: 25px
            margin-top: 20px

        > span
          line-height: 70px
          margin-left: 10px
          float: left

        > a.arrow
          @include image('assets/img/arrow-black.svg')
          display: inline-block
          position: absolute
          background-size: cover
          right: 10px
          top: 35%
          height: 30%
          width: 25px


