<section>
    <div class="register">
        <form (ngSubmit)="register()" [ngFormModel]='registerForm'>
            <div class="logo">
                <p>Нов акаунт</p>
            </div>
            <div class="input-fields">
                <input type="email" placeholder="email" ngControl="email"/>
                <input type="text" placeholder="First name" ngControl="firstName"/>
                <input type="text" placeholder="Last name" ngControl="lastName"/>
                <input type="password" placeholder="password" ngControl="password"/>
                <input type="password" placeholder="Repeat password" ngControl="repeatPassword"/>
            </div>
            <div class="texts">
                <p><span>Готов за приятно изкарване?</span></p>
            </div>
            <div class="buttons">
                <button type="submit">Регистрирай се</button>
            </div>
        </form>
    </div>
</section>
