.navigation
  @import "../base/variables"
  @import "../base/mixins"
  position: absolute
  height: 100px
  width: 100%
  z-index: 2000

  > div
    height: 50%
    width: 100%

    &.upper-nav
      background-color: $main-color

      > div
        background-color: $main-color
        height: 100%

        &:active,&:hover
          background-color: lighten($main-color, 2.5%)

        > a
          display: block
          height: 100%
          width: auto

        &.nav-button
          float: left
          width: 20%
          cursor: pointer

          > a
            @include image("assets/img/navigation.svg")

        &.search-button
          float: right
          width: 20%
          > a
            @include image("assets/img/search.svg")

    &.lower-nav
      > div
        background-color: $main-color
        float: left
        height: 100%
        width: 33.33%

        &:active,&:hover,&.selected,&.router-link-active
          background-color: lighten($main-color, 2.5%)
          height: 90%

        > a
          display: block
          height: 100%
          width: auto

      > div:nth-child(1) > a
        @include image("assets/img/contacts.svg")

      > div:nth-child(2) > a
        @include image("assets/img/chat.svg")

      > div:nth-child(3) > a
        @include image("assets/img/calls.svg")
