@mixin image($url)
  background-image: url($url)
  background-repeat: no-repeat
  background-position: center center

@mixin image-active($url-image,$url-image-active)
  background-image: url($url-image)
  background-repeat: no-repeat
  background-position: center center

  &:hover, &:active
    background-image: url($url-image-active)

@mixin list-nostyle()
  position: relative
  list-style: none
  margin-top: 0
  padding: 0

@mixin element-border-bottom()
  border-bottom: 1px solid gainsboro

@mixin element-border-top()
  border-top: 1px solid gainsboro

@mixin element-border-left()
  border-left: 1px solid gainsboro

@mixin element-border-right()
  border-right: 1px solid gainsboro

@mixin element-border-bottomPx($value)
  border-bottom: $value solid gainsboro

@mixin element-border-topPx($value)
  border-top: $value solid gainsboro

@mixin element-border-leftPx($value)
  border-left: $value solid gainsboro

@mixin element-border-rightPx($value)
  border-right: $value solid gainsboro

@mixin element-borderPx($value, $color:gainsboro)
  border: $value solid $color

@mixin blur($size)
  -webkit-filter: blur($size)
  -moz-filter: blur($size)
  -ms-filter: blur($size)
  filter: blur($size)

@mixin overlay()
  display: block
  z-index: 2500
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5)