.profile
  @import "../base/mixins"
  @import "../base/variables"
  height: 100%
  width: 100%
  overflow: auto
  z-index: 2000

  > div.top-bar
    position: absolute
    z-index: 1000
    top: 0
    height: 3rem
    width: 100%
    background-color: $main-color

    > div.back
      @include image("assets/img/back.svg")
      position: relative
      float: left
      height: 100%
      width: 60px
      cursor: pointer

    > div.edit
      color: white
      float: right
      cursor: pointer
      font-size: 1.2rem
      padding-right: 10px
      padding-left: 10px
      font-weight: 500
      line-height: 3rem

  > div.profile-page
    position: relative
    margin-top: 3rem
    height: 100%
    width: 100%
    background-color: white

    > div.placeholder
      position: relative
      height: auto
      width: 100%

      > img
        width: 100%

    > div.info
      position: relative
      //height: 100%
      width: 100%

      > div
        //@include element-border-bottom()
        padding: 10px 20px 10px 20px
        background-color: white
        min-height: 2rem

        &.name-occupation
          > span.occupation
            font-size: 0.9rem
            margin-bottom: 0
            color: gray

        &.personal
          > span:nth-child(1)
            display: inline-block
            margin-bottom: 5px

        &.other
          > span
            color: gray
            display: inline-block

        &:not(:last-child)
          @include element-border-bottom()




