<section class="options">
    <ul>
        <li><span>Звук</span>
            <switch-toggle class="sound-switch" (click)="toggleSoundEnabled()" [checked]="soundEnabled"></switch-toggle>
        </li>
        <li><span>Език</span>

            <ul [ngClass]="{hiddenList: !listOpened}" (click)="toggleList()">
                <span *ngIf="listOpened === false">{{selectedLanguage}}</span>
                <li *ngFor="let language of languages" (click)="setLanguage(language)">
                    <span>{{language}}</span>
                </li>
            </ul>
        </li>
        <li>
            <a class="back" (click)="back()"></a>
        </li>
    </ul>
</section>