<div class="overlay" *ngIf="opened" (click)="overlayClicked()"></div>

<section class="left-menu" [ngClass]="{opened: opened}" (onToggleLeftMenu)="toggle($event)">
    <div>
        <div>
            <div>
                <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13118962_987362174684686_2846474144423139514_n.jpg?oh=8e79d34adfcb8ce5cbc8fb45c541c63e&oe=580C28EE">

            </div>
            <span class="name">Христо Колев </span> <br><span> Front-end developer в Casualino JSC</span>
        </div>
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13118962_987362174684686_2846474144423139514_n.jpg?oh=8e79d34adfcb8ce5cbc8fb45c541c63e&oe=580C28EE">
    </div>
    <section [ngSwitch]="tab">
        <ul *ngSwitchDefault>
            <li [routerLink]="['Profile']"><a class="icon profile"></a><span>Профил</span><a class="arrow"></a></li>
            <li><a class="icon search"></a><span>Търси</span><a class="arrow"></a></li>
            <li (click)="selectTab('options')"><a class="icon options"></a><span>Настройки</span><a class="arrow"></a></li>
            <li><a class="icon logout"></a><span>Излез</span></li>
        </ul>

        <settings *ngSwitchWhen="'options'" [back]="backCallback"></settings>


    </section>

</section>