<section class="edit-profile">
    <div class="top-bar">
        <div class="back" [routerLink]="['Profile']"></div>
        <div class="save">Запази</div>
    </div>
    <div class="edit-profile-page">
        <div class="placeholder">
            <div class="left"><a></a></div>

            <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13118962_987362174684686_2846474144423139514_n.jpg?oh=8e79d34adfcb8ce5cbc8fb45c541c63e&oe=580C28EE">
            <div class="right"><a></a></div>
        </div>

        <div class="info">
            <div>
                <span class="name edit">Име: Христо Колев <a></a></span>
            </div>
            <div>
                <span class="edit occupation">Работа: Front-end developer <a></a></span>
            </div>
            <div>
                <span class="company edit">Компания: Casualino JSC <a></a></span>
            </div>
            <div>
                <span class="age edit">Възраст: 23 <a></a></span>
            </div>
            <div>
                <span class="email edit">Е-поща: hristogk1993@gmail.com <a></a></span>
            </div>

        </div>
    </div>

    <!--<div class="info">
        <div class="name-occupation">
            <span class="name-edit">Христо Колев</span>
            <br>
            <span class="edit occupation">Front-end developer</span>
            <br>
            <span class="company edit">Company: Casualino JSC</span>
        </div>
        <div class="personal">
            <span class="age edit">Age: 23</span>
            <br>
            <span class="email edit">Email: hristogk1993@gmail.com</span>
        </div>

        </div>
    </div>-->
</section>