<section class="profile">
    <div class="top-bar">
        <div class="back" [routerLink]="['Home']"></div>
        <div class="edit" [routerLink]="['Edit Profile']">Редактирай</div>
    </div>
    <div class="profile-page">
        <div class="placeholder">
            <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13118962_987362174684686_2846474144423139514_n.jpg?oh=8e79d34adfcb8ce5cbc8fb45c541c63e&oe=580C28EE">
        </div>
        <div class="info">
            <div class="name-occupation">
                <span>Христо Колев</span>
                <br>
                <span class="occupation">Front-end developer в Casualino JSC</span>
            </div>
            <div class="personal">
                <span>Възраст: 23</span>
                <br>
                <span>Е-поща: hristogk1993@gmail.com</span>
            </div>
            <div class="other">
                <span>Ти имаш 120 контакта</span>
            </div>

        </div>
    </div>
</section>