<section class="calls">
    <ul class="calls-list">
        <li *ngFor="let call of calls">
            <div class="avatar">
                <img [src]="call.user.avatarUrl">
            </div>
            <div class="call-details">
                <div>
                    <span [ngClass]="{missed: call.result === 'missed' , recieved: call.result === 'recieved'}">
                        Приет разговор</span>
                    <span>{{call.user.firstName}} {{call.user.lastName}}</span>
                    <span>Пт Продължителност: 15.04м</span>
                </div>
            </div>
            <div class="call" [routerLink]="['../../Call',{userId: call.user.id}]">
                <div [ngClass]="{online: call.user.online}"></div>
                <div></div>
            </div>
        </li>
    </ul>
</section>
