<section class="chat">
    <div class="top-bar">
        <div class="back" [routerLink]="['Home/Conversations']"></div>
        <div class="user">Христо Колев</div>
    </div>
    <div class="chat-page" #list>
        <ul>
            <li *ngFor="let message of messages" [ngClass]="{'my-message': message.sender.id === 'uueuiwhfew783ofhn378euew1'}">
                <div>
                <p class=message-text><span>{{message.text}}</span></p>
                <p class="message-sent"><span>11:26</span></p>
                </div>
            </li>
        </ul>
    </div>
    <input type="text" placeholder="Съобщение" [(ngModel)]="message.text" (keyDown.enter)="send()">
</section>