<section class="conversations">
    <ul class="conversations-list">
        <li *ngFor="let conversation of conversations" [routerLink]="['../../Chat',{userId: conversation.user.id}]">
            <div class="avatar">
                <img [src]="conversation.user.avatarUrl">
            </div>
            <div class="username">
                <div>
                    <span>{{conversation.user.firstName}} {{conversation.user.lastName}}</span>
                    <span>20:00ч</span>
                    <div [ngClass]="{online: conversation.user.online}"></div>
                    <!--<span>{{conversation.timestamp}}</span>-->
                </div>
            </div>
            <div class="message-last">
                <span>{{conversation.lastMessage}}</span>
            </div>
        </li>
    </ul>
</section>
