<section class="contacts">
    <ul class="contacts-list">
        <li *ngFor="let contact of contacts">
            <div class="avatar">
                <img [src]="contact.avatarUrl">
            </div>
            <div class="username">
                <div>
                    <span>{{contact.firstName}}</span>
                    <span>{{contact.lastName}}</span>
                </div>
            </div>
            <div class="actions">
                <img class="chat">
                <img class="call" [routerLink]="['../../Call',{userId: contact.id}]">
            </div>
        </li>
    </ul>
</section>
