.calls
  @import '../../base/mixins'
  @import '../../base/variables'
  position: relative
  height: 100%
  width: 100%
  overflow: auto

  > ul.calls-list
    @include list-nostyle()
    margin-top: 100px

    > li
      padding-left: 2.5%
      height: 60px
      overflow: hidden
      text-overflow: ellipsis
      padding-bottom: 1rem
      padding-top: 1rem

      > div
        width: auto

        &.avatar
          height: 100%
          float: left

          > img
            width: 60px
            height: 100%

        &.call-details
          padding-left: 2.5%
          width: 100%

          > div
            height: 100%

            > span:nth-child(1)
              display: block
              margin-left: 8px
              text-align: left
              float: left
              overflow: hidden
              text-overflow: ellipsis
              font-size: 1rem
              color: green
              width: 50%

              &.missed
                color: red

              &.recieved
                color: blue

            > span:nth-child(2)
              display: block
              text-align: left
              float: left
              overflow: hidden
              text-overflow: ellipsis
              font-size: 1rem
              margin-left: 8px
              width: 50%

            > span:nth-child(3)
              display: block
              line-height: normal
              text-align: left
              float: left
              overflow: hidden
              color: $color-black-lighter
              text-overflow: ellipsis
              font-size: 0.8rem
              margin-left: 8px
              margin-bottom: 0
              width: 60%

        &.call
          position: absolute
          right: 0
          width: 20%
          height: 60px
          border-left: 1px solid gainsboro
          text-align: center
          cursor: pointer

          > div:nth-child(1)
            @include image("assets/img/circle-offline.png")
            background-size: cover
            text-align: center
            margin: 5px auto
            width: 12px
            height: 12px

            &.online
              @include image("assets/img/circle-online-lighter-green.png")

          > div:nth-child(2)
            @include image("assets/img/call-green.svg")
            background-size: cover
            text-align: center
            margin: 0 auto
            width: 30px
            height: 30px

      &:not(:last-child)
        @include element-border-bottom()

        //&.online
          @include image("assets/img/call-green.svg")