.contacts
  @import '../../base/mixins'
  @import '../../base/variables'
  position: relative
  height: 100%
  overflow: auto

  > ul.contacts-list
    @include list-nostyle()
    margin-top: 100px

    > li
      padding-left: 2.5%
      height: 60px
      padding-bottom: 1rem
      padding-top: 1rem

      > div
        width: auto

        &.avatar
          height: 100%
          float: left

          > img
            width: 60px
            height: 100%

        &.username
          padding-left: 2.5%
          width: 37.5%
          height: 100%
          float: left

          > div
            text-align: justify

            > span
              overflow: hidden
              text-overflow: ellipsis
              color: $color-black-lighter
              font-size: 1.25rem
              width: auto
              display: block

        &.actions
          background-color: white
          height: 100%
          width: 40%
          margin-right: 2px
          float: right

          > img
            height: 100%
            width: 60px

            &.chat
              @include image-active('assets/img/chat-silver.svg', 'assets/img/chat.svg')
              float: left

              &:hover, &:active
                background-color: $scheme-color-silver

            &.call
              @include image-active('assets/img/call-green.svg', 'assets/img/calls.svg')
              float: right

              &:hover, &:active
                background-color: $main-color

      &:not(:last-child)
        @include element-border-bottom()