.conversations
  @import '../../base/mixins'
  @import '../../base/variables'
  position: relative
  height: 100%
  overflow: auto

  > ul.conversations-list
    @include list-nostyle()
    margin-top: 100px

    > li
      padding-left: 2.5%
      height: 60px
      overflow: hidden
      text-overflow: ellipsis
      padding-bottom: 1rem
      padding-top: 1rem
      cursor: pointer

      > div
        width: auto

        &.avatar
          height: 100%
          float: left

          > img
            width: 60px
            height: 100%

        &.username
          padding-left: 2.5%
          width: 100%

          > div
            > span:nth-child(1)
              margin-left: 8px
              text-align: left
              float: left
              overflow: hidden
              text-overflow: ellipsis
              color: $color-black-lighter
              font-size: 1rem
              width: 50%
              display: block

            > span:nth-child(2)
              display: block
              text-align: right
              float: right
              font-size: 1rem
              margin-right: 1.5rem
              width: 20%

            > div
              @include image("assets/img/circle-offline.png")
              position: absolute
              background-size: cover
              text-align: right
              float: right
              margin-top: 30px
              right: 2rem
              width: 12px
              height: 12px

              &.online
                @include image("assets/img/circle-online-lighter-green.png")

        &.message-last
          padding-left: 2.5%
          width: 100%
          line-height: 30px

          > span
            width: 62.5%
            max-height: 30px
            margin-left: 8px
            color: gray
            float: left
            text-align: left
            overflow: hidden
            text-overflow: ellipsis

      &:not(:last-child)
        @include element-border-bottom()