.chat
  @import "variables"
  @import "mixins"
  @import "../base/variables"
  @import "../base/mixins"

  display: block
  height: 100%
  width: 100%
  overflow: auto
  z-index: 2000
  background-color: white

  > div.top-bar
    position: absolute
    z-index: 1000
    top: 0
    height: 3rem
    width: 100%
    background-color: $main-color

    > div.back
      @include image("assets/img/back.svg")
      display: inline
      float: left
      height: 100%
      width: 60px
      cursor: pointer

    > div.user
      display: block
      color: white
      text-align: center
      font-size: 1.2rem
      font-weight: 500
      line-height: 3rem
      text-indent: -60px

  > div.chat-page
    display: block
    position: absolute
    top: 3rem
    bottom: 3rem
    overflow: auto
    //height: 100%
    width: 100%

    > ul
      @include list-nostyle()

      > li
        position: relative
        display: block
        left: 0
        margin-left: 5%
        padding-top: 1px
        margin-bottom: 5%

        &:after
          display: block
          content: ' '
          clear: both

        > div
          @include chat-bubble($chat-bubble-min-width, $chat-bubble-max-width, $chat-bgcolor, $chat-bubble-border-radius $chat-bubble-border-radius $chat-bubble-border-radius 0)
          float: left

          > p.message-text
            padding: 5px 0
            margin: 0 7.5%
            text-align: justify

            > span
              color: #2f2f2f
              word-wrap: break-word

          > p.message-sent
            padding: 5px 0
            margin: 0 7.5%

            > span
              font-size: 0.75rem
              color: #2f2f2f

        &.my-message
            margin-right: 5%
            margin-left: 0

            &:before
              left: 99%
              border-right: 0
              border-left: 16px solid $scheme-color-light-green

            > div
              @include chat-bubble($chat-bubble-min-width, $chat-bubble-max-width, $scheme-color-light-green, $chat-bubble-border-radius $chat-bubble-border-radius 0 $chat-bubble-border-radius)
              float: right

              > p > span
                color: white

        &:before
            content: ' '
            position: absolute
            right: 99%
            bottom: 0
            width: 0
            height: 0
            margin: 0
            border-top: 13px solid transparent
            border-right: 16px solid $chat-bgcolor

  > input
    display: block
    position: absolute
    width: 95%
    left: 0
    right: 0
    margin: auto
    bottom: 0
    height: 2rem
    text-indent: 2.5%
