@import "variables"

@mixin chat-bubble($min-width:40%, $max-width:80%, $bgcolor: $chat-bubble-my-bgcolor, $border-radius: 0)
  min-width: $min-width
  max-width: $max-width
  min-height: 1rem
  //max-height: 5rem
  width: auto
  background-color: $bgcolor
  border-radius: $border-radius
