<section class="call">
    <div class=avatar *ngIf="!ongoingConversation">
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/13118962_987362174684686_2846474144423139514_n.jpg?oh=8e79d34adfcb8ce5cbc8fb45c541c63e&oe=580C28EE">
    </div>

    <!--<div class="video-call" *ngIf="ongoingConversation">-->
    <div class="video-call" *ngIf="ongoingConversation">
        <video id="video" class="camera" autoplay></video>
    </div>
    <span>Христо</span>

    <div class="calling" >
        <span *ngIf="!ongoingConversation">Обаждане ...</span>
        <span *ngIf="ongoingConversation">{{time| date: 'Hmmss'}}</span>
    </div>
    <div class="icons">
        <a class="camera" [ngClass]="{stopped: cameraEnabled}" (click)="toggleCamera()"></a>
        <a class="microphone" [ngClass]="{stopped: microphoneEnabled}" (click)="toggleMicrophone()"></a>
    </div>
    <div class="call-buttons">
        <a></a>
    </div>
</section>

<!--
<section class="call">
    <h1>WebRTC codelab: step X</h1>

    <p>
        Room URL: <br>
        <code id="url">...</code>
    </p>

    <video class="camera" autoplay></video>
    <div class="controls">
        <canvas id="photo" style="width: 200px; height: 150px; border: 1px solid #ccc;"></canvas>
        <p>
            <button id="snap">snap</button>-then-<button id="send">send</button>
            <br> - or - <br>
            <button id="snapAndSend">snap & send</button>
        </p>
    </div>

    <div class="incoming">
        <h2>Incoming photos</h2>
        <div id="trail"></div>
    </div>

<script>
    var configuration = {'iceServers': [{'url': 'stun:stun.l.google.com:19302'}]},
// {"url":"stun:stun.services.mozilla.com"}

            roomURL = document.getElementById('url'),
            video = document.getElementsByTagName('video')[0],
            photo = document.getElementById('photo'),
            photoContext = photo.getContext('2d'),
            trail = document.getElementById('trail'),
            snapBtn = document.getElementById('snap'),
            sendBtn = document.getElementById('send'),
            snapAndSendBtn = document.getElementById('snapAndSend'),
    // Default values for width and height of the photoContext.
    // Maybe redefined later based on user's webcam video stream.
            photoContextW = 300, photoContextH = 150;

    // Attach even handlers
    video.addEventListener('play', setCanvasDimensions);
    snapBtn.addEventListener('click', snapPhoto);
    sendBtn.addEventListener('click', sendPhoto);
    snapAndSendBtn.addEventListener('click', snapAndSend);

    // Create a random room if not already present in the URL.
    var isInitiator;
    var room = window.location.hash.substring(1);
    if (!room) {
        room = window.location.hash = randomToken();
    }


    /****************************************************************************
     * Signaling server
     ****************************************************************************/
alert('lol');
// Connect to the signaling server
    var socket = io.connect('127.0.0.1:3000');

    socket.on('ipaddr', function (ipaddr) {
        console.log('Server IP address is: ' + ipaddr);
        updateRoomURL(ipaddr);
    });

    socket.on('created', function (room, clientId) {
        console.log('Created room', room, '- my client ID is', clientId);
        isInitiator = true;
        grabWebCamVideo();
    });

    socket.on('joined', function (room, clientId) {
        console.log('This peer has joined room', room, 'with client ID', clientId);
        isInitiator = false;
        grabWebCamVideo();
    });

    socket.on('full', function (room) {
        alert('Room "' + room + '" is full. We will create a new room for you.');
        window.location.hash = '';
        window.location.reload();
    });

    socket.on('ready', function () {
        createPeerConnection(isInitiator, configuration);
    })

    socket.on('log', function (array) {
        console.log.apply(console, array);
    });

    socket.on('message', function (message){
        console.log('Client received message:', message);
        signalingMessageCallback(message);
    });

    // Join a room
    socket.emit('create or join', room);

    if (location.hostname.match(/localhost|127\.0\.0/)) {
        socket.emit('ipaddr');
    }

    /**
     * Send message to signaling server
     */
    function sendMessage(message){
        console.log('Client sending message: ', message);
        socket.emit('message', message);
    }

    /**
     * Updates URL on the page so that users can copy&paste it to their peers.
     */
    function updateRoomURL(ipaddr) {
        var url;
        if (!ipaddr) {
            url = location.href
        } else {
            url = location.protocol + '//' + ipaddr + ':2013/#' + room
        }
        roomURL.innerHTML = url;
    }


    /****************************************************************************
     * User media (webcam)
     ****************************************************************************/

    function grabWebCamVideo() {
        console.log('Getting user media (video) ...');
        getUserMedia({video: true}, getMediaSuccessCallback, getMediaErrorCallback);
    }

    function getMediaSuccessCallback(stream) {
        var streamURL = window.URL.createObjectURL(stream);
        console.log('getUserMedia video stream URL:', streamURL);
        window.stream = stream; // stream available to console

        video.src = streamURL;
        show(snapBtn);
    }

    function getMediaErrorCallback(error){
        console.log("getUserMedia error:", error);
    }


    /****************************************************************************
     * WebRTC peer connection and data channel
     ****************************************************************************/

    var peerConn;
    var dataChannel;

    function signalingMessageCallback(message) {
        if (message.type === 'offer') {
            console.log('Got offer. Sending answer to peer.');
            peerConn.setRemoteDescription(new RTCSessionDescription(message), function(){}, logError);
            peerConn.createAnswer(onLocalSessionCreated, logError);

        } else if (message.type === 'answer') {
            console.log('Got answer.');
            peerConn.setRemoteDescription(new RTCSessionDescription(message), function(){}, logError);

        } else if (message.type === 'candidate') {
            peerConn.addIceCandidate(new RTCIceCandidate({candidate: message.candidate}));

        } else if (message === 'bye') {
            // TODO: cleanup RTC connection?
        }
    }

    function createPeerConnection(isInitiator, config) {
        console.log('Creating Peer connection as initiator?', isInitiator, 'config:', config);
        peerConn = new RTCPeerConnection(config);

        // send any ice candidates to the other peer
        peerConn.onicecandidate = function (event) {
            console.log('onIceCandidate event:', event);
            if (event.candidate) {
                sendMessage({
                    type: 'candidate',
                    label: event.candidate.sdpMLineIndex,
                    id: event.candidate.sdpMid,
                    candidate: event.candidate.candidate
                });
            } else {
                console.log('End of candidates.');
            }
        };

        if (isInitiator) {
            console.log('Creating Data Channel');
            dataChannel = peerConn.createDataChannel("photos");
            onDataChannelCreated(dataChannel);

            console.log('Creating an offer');
            peerConn.createOffer(onLocalSessionCreated, logError);
        } else {
            peerConn.ondatachannel = function (event) {
                console.log('ondatachannel:', event.channel);
                dataChannel = event.channel;
                onDataChannelCreated(dataChannel);
            };
        }
    }

    function onLocalSessionCreated(desc) {
        console.log('local session created:', desc);
        peerConn.setLocalDescription(desc, function () {
            console.log('sending local desc:', peerConn.localDescription);
            sendMessage(peerConn.localDescription);
        }, logError);
    }

    function onDataChannelCreated(channel) {
        console.log('onDataChannelCreated:', channel);

        channel.onopen = function () {
            console.log('CHANNEL opened!!!');
        };

        channel.onmessage = (webrtcDetectedBrowser == 'firefox') ?
                receiveDataFirefoxFactory() :
                receiveDataChromeFactory();
    }

    function receiveDataChromeFactory() {
        var buf, count;

        return function onmessage(event) {
            if (typeof event.data === 'string') {
                buf = window.buf = new Uint8ClampedArray(parseInt(event.data));
                count = 0;
                console.log('Expecting a total of ' + buf.byteLength + ' bytes');
                return;
            }

            var data = new Uint8ClampedArray(event.data);
            buf.set(data, count);

            count += data.byteLength;
            console.log('count: ' + count);

            if (count === buf.byteLength) {
                // we're done: all data chunks have been received
                console.log('Done. Rendering photo.');
                renderPhoto(buf);
            }
        }
    }

    function receiveDataFirefoxFactory() {
        var count, total, parts;

        return function onmessage(event) {
            if (typeof event.data === 'string') {
                total = parseInt(event.data);
                parts = [];
                count = 0;
                console.log('Expecting a total of ' + total + ' bytes');
                return;
            }

            parts.push(event.data);
            count += event.data.size;
            console.log('Got ' + event.data.size + ' byte(s), ' + (total - count) + ' to go.');

            if (count == total) {
                console.log('Assembling payload')
                var buf = new Uint8ClampedArray(total);
                var compose = function(i, pos) {
                    var reader = new FileReader();
                    reader.onload = function() {
                        buf.set(new Uint8ClampedArray(this.result), pos);
                        if (i + 1 == parts.length) {
                            console.log('Done. Rendering photo.');
                            renderPhoto(buf);
                        } else {
                            compose(i + 1, pos + this.result.byteLength);
                        }
                    };
                    reader.readAsArrayBuffer(parts[i]);
                }
                compose(0, 0);
            }
        }
    }


    /****************************************************************************
     * Aux functions, mostly UI-related
     ****************************************************************************/

    function snapPhoto() {
        photoContext.drawImage(video, 0, 0, photoContextW, photoContextH);
        show(photo, sendBtn);
    }

    function sendPhoto() {
        // Split data channel message in chunks of this byte length.
        var CHUNK_LEN = 64000;

        var img = photoContext.getImageData(0, 0, photoContextW, photoContextH),
                len = img.data.byteLength,
                n = len / CHUNK_LEN | 0;

        console.log('Sending a total of ' + len + ' byte(s)');
        dataChannel.send(len);

        // split the photo and send in chunks of about 64KB
        for (var i = 0; i < n; i++) {
            var start = i * CHUNK_LEN,
                    end = (i+1) * CHUNK_LEN;
            console.log(start + ' - ' + (end-1));
            dataChannel.send(img.data.subarray(start, end));
        }

        // send the reminder, if any
        if (len % CHUNK_LEN) {
            console.log('last ' + len % CHUNK_LEN + ' byte(s)');
            dataChannel.send(img.data.subarray(n * CHUNK_LEN));
        }
    }

    function snapAndSend() {
        snapPhoto();
        sendPhoto();
    }

    function renderPhoto(data) {
        var canvas = document.createElement('canvas');
        canvas.classList.add('photo');
        trail.insertBefore(canvas, trail.firstChild);

        var context = canvas.getContext('2d');
        var img = context.createImageData(photoContextW, photoContextH);
        img.data.set(data);
        context.putImageData(img, 0, 0);
    }

    function setCanvasDimensions() {
        if (video.videoWidth == 0) {
            setTimeout(setCanvasDimensions, 200);
            return;
        }

        console.log('video width:', video.videoWidth, 'height:', video.videoHeight)

        photoContextW = video.videoWidth / 2;
        photoContextH = video.videoHeight / 2;
        //photo.style.width = photoContextW + 'px';
        //photo.style.height = photoContextH + 'px';
        // TODO: figure out right dimensions
        photoContextW = 300; //300;
        photoContextH = 150; //150;
    }

    function show() {
        Array.prototype.forEach.call(arguments, function(elem){
            elem.style.display = null;
        });
    }

    function hide() {
        Array.prototype.forEach.call(arguments, function(elem){
            elem.style.display = 'none';
        });
    }

    function randomToken() {
        return Math.floor((1 + Math.random()) * 1e16).toString(16).substring(1);
    }

    function logError(err) {
        console.log(err.toString(), err);
    }
</script>

</section>
-->
